/*MEDIA QUERY*/

//UBICACION//

@media (max-width: 768px) {
    iframe{
        width: 400px;


    }
    .imgEquipo{
        width: 400px;
        height: 300px;
    }

    .contacto-web{
    
        width: 450px;
       
    
    }
}


